<!-- Sidebar -->
<button class="mobile-toggle" (click)="toggleSidebar()">☰</button>

<div class="sidebar" [class.open]="isOpen">
    <div class="logo">
        Hotel Admin
    </div>

    <ul class="menu">
        <li class="sidebar-item" routerLink="/admin/dashboard" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
            Dashboard
        </li>
    
        <li class="sidebar-item" routerLink="/admin/bookings" routerLinkActive="active">
            Bookings
        </li>
    
        <li class="sidebar-item" routerLink="/admin/rooms" routerLinkActive="active">
            Rooms
        </li>
    
        <li class="sidebar-item" routerLink="/admin/users" routerLinkActive="active">
            Users
        </li>
    
        <li class="sidebar-item" routerLink="/admin/reviews" routerLinkActive="active">
            Reviews
        </li>
    
        <li class="sidebar-item" routerLink="/admin/setting" routerLinkActive="active">
            Settings
        </li>
    </ul>


    <div class="logout">
        <button class="sidebar-item" routerLink="/home">Logout</button>
    </div>
</div>

<!-- Main Content -->
<div class="main-content">
    
</div>